<h1>Dodaj kontakt</h1>
<br>
<h4>Rodzaj kontaktu</h4>
<br>
<form (ngSubmit)="onSubmit()">

  <div class="container">
    <app-person-general-informations #person ></app-person-general-informations>
    <!--Telefon-->
    <div class="form-group">
      <label for="phoneNumber">Telefon</label>
      <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="contact.phoneNumber" name="phoneNumber" >
    </div>

    <!--    Email-->
    <div class="example-container">
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" [(ngModel)]="contact.email">
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </div>

    <!--    Additional information-->
    <div class="form-group">
      <label for="additionalInformation">Informacje dodatkowe</label>
      <textarea class="form-control" id="additionalInformation" required [(ngModel)]="contact.additionalInfo" name="additionalInformation"></textarea>
    </div>

    <app-address #address [formControl]="submitted"></app-address>
    <app-way-of-obtaining #wayOfObtainingComponent></app-way-of-obtaining>
    <router-outlet></router-outlet>
  </div>
  <div id="submit">
    <button mat-button type="submit" class="btn btn-success" (click)="save()">Zapisz</button>
  </div>
</form>

