
table tr td  {



  border : 1px solid black;

}

.border-element{

  border : 1px solid black;

}
/*.basic-container {*/
/*  padding: 100px;*/
/*}*/





#hover-contact{
cursor: pointer;

}
.hover-icons{
  cursor: pointer;
  margin-right: 20%;
}

