<hr>

<h4>Adres:</h4>
<br>

<div [hidden]="submitted" style="width: 400px;">

<div class="form-group">
  <label for="name">Nazwa typu adresu</label>
  <input type="text" class="form-control" id="name" required [(ngModel)]="address.name" name="name">
</div>

<div class="form-group">
  <label for="street">Ulica</label>
  <input type="text" class="form-control" id="street" required [(ngModel)]="address.street" name="street">
</div>

<div class="form-group">
  <label for="houseNumber">Nr domu</label>
  <input type="text" class="form-control" id="houseNumber" required [(ngModel)]="address.houseNumber" name="houseNumber">
</div>

<div class="form-group">
  <label for="apartmentNumber">Nr mieszkania</label>
  <input type="text" class="form-control" id="apartmentNumber" [(ngModel)]="address.flatNumber" name="apartmentNumber">

</div>

<div id="address">
  <div class="form-group">
    <label for="zipCode">Kod pocztowy</label>
    <input type="text" class="form-control" id="zipCode" required [(ngModel)]="address.zipCode" name="zipCode" >
  </div>

  <div class="form-group">
    <label for="city">Miasto</label>
    <input type="text" class="form-control" id="city" required [(ngModel)]="address.city" name="city"/>
  </div>
</div>
<button mat-button class="add new address">Dodaj kolejny adres</button>
<button mat-button class="delete">Usuń</button>

</div>
