#left-position{
  float: left;



}

#right-position{
  float: right;

}

#bottom-position{
  clear: both;
}
label{
  text-align: center;
}
.label-div{
  text-align: left;
}
button{
  float: right;
}
