<h1>Dodaj kontakt</h1>
<br>
<h4>Rodzaj kontaktu</h4>
<br>
<form (ngSubmit)="onSubmit()">
<mat-radio-group aria-label="Select an option">

  <mat-radio-button value="person" checked (click)="isShow='A'">Osoba fizyczna</mat-radio-button>
  <mat-radio-button value="company" (click)="isShow='B'">Firma</mat-radio-button>
</mat-radio-group>


<div class="container">
  <app-person-general-informations *ngIf="isShow == 'A'"></app-person-general-informations>
  <app-company-general-informations *ngIf="isShow == 'B'"></app-company-general-informations>
  <app-address></app-address>
  <app-method-of-acquisition></app-method-of-acquisition>
  <router-outlet></router-outlet>
</div>
  <div id="submit">
    <button mat-button type="submit" class="btn btn-success" (click)="save()">Zapisz</button>
  </div>
</form>





<!--<div class="example-container">-->
<!--  <mat-form-field  hintLabel="Imię">-->

<!--      <input matInput placeholder="Imię">-->
<!--  </mat-form-field>-->

<!--  <mat-form-field>-->
<!--    <label>-->
<!--      <input matInput placeholder="Nazwisko">-->
<!--    </label>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field>-->
<!--    <label>-->
<!--      <input matInput placeholder="PESEL">-->
<!--    </label>-->
<!--  </mat-form-field>-->


<!--    <mat-form-field>-->
<!--      <label>-->
<!--        <input matInput #input maxlength="10" placeholder="PESEL">-->
<!--      </label>-->
<!--      <mat-hint align="end">{{input.valueAsNumber || 0}}/11</mat-hint>-->
<!--    </mat-form-field>-->

<!--  <mat-form-field>-->
<!--    <label>-->
<!--      <input matInput placeholder="Email" [formControl]="email" required>-->
<!--    </label>-->
<!--    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field>-->
<!--    <label>-->
<!--      <textarea matInput placeholder="Informacje dodatkowe"></textarea>-->
<!--    </label>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field>-->
<!--    <mat-select placeholder="Select">-->
<!--      <mat-option value="option">Option</mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->

<!--</div>-->

<!--<div [hidden]="submitted" style="width: 400px;">-->
<!--  <form (ngSubmit)="onSubmit()">-->
<!--    <div class="form-group">-->
<!--      <label for="firstName">Imię</label>-->
<!--      <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="surname">Nazwisko</label>-->
<!--      <input type="text" class="form-control" id="surname" required [(ngModel)]="employee.surname" name="surname">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="pesel">PESEL</label>-->
<!--      <input type="text" class="form-control" id="pesel" required [(ngModel)]="employee.pesel" name="pesel">-->
<!--    </div>-->

<!--    <div class="example-container">-->

<!--        <mat-label>Email</mat-label>-->
<!--        <input matInput placeholder="pat@example.com" [formControl]="email">-->
<!--        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->

<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="phoneNumber">Telefon</label>-->
<!--      <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="employee.phoneNumber" name="phoneNumber" >-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="additionalInformation">Informacje dodatkowe</label>-->
<!--      <textarea class="form-control" id="additionalInformation" required [(ngModel)]="employee.additionalInformation" name="additionalInformation"></textarea>-->
<!--    </div>-->


<!--<hr>-->
<!--    <div [hidden]="submitted" style="width: 400px;">-->
<!--      <form (ngSubmit)="onSubmit()">-->
<!--        <div class="form-group">-->
<!--          <label for="name">Nazwa firmy</label>-->
<!--          <input type="text" class="form-control" id="name" required [(ngModel)]="employee.name" name="name">-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <label for="nip">NIP</label>-->
<!--          <input type="text" class="form-control" id="nip" required [(ngModel)]="employee.nip" name="nip">-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <label for="regon">Regon</label>-->
<!--          <input type="text" class="form-control" id="regon" required [(ngModel)]="employee.regon" name="regon">-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <label for="krs">KRS</label>-->
<!--          <input type="text" class="form-control" id="krs" required [(ngModel)]="employee.krs" name="krs" >-->
<!--        </div>-->


<!--        <mat-form-field>-->
<!--          <mat-label>Forma prawna</mat-label>-->
<!--          <mat-select [formControl]="wayControl" required>-->
<!--            <mat-option>&#45;&#45;</mat-option>-->
<!--            <mat-option *ngFor="let way of ways" [value]="way.value">-->
<!--              {{way.viewValue}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--          <mat-error *ngIf="wayControl.hasError('required')">wybierz</mat-error>-->
<!--          <mat-hint>{{wayControl.value?.viewValue}}</mat-hint>-->
<!--        </mat-form-field>-->


<!--        <div class="form-group">-->
<!--          <label for="phoneNumber">Telefon</label>-->
<!--          <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="employee.phoneNumber" name="phoneNumber" >-->
<!--        </div>-->

<!--        <div class="example-container">-->
<!--          <mat-label>Email</mat-label>-->
<!--          <input matInput placeholder="pat@example.com" [formControl]="email">-->
<!--          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
<!--        </div>-->



<!--        <div class="form-group">-->
<!--          <label for="additionalInformation">Informacje dodatkowe</label>-->
<!--          <textarea class="form-control" id="additionalInformation" required [(ngModel)]="employee.additionalInformation" name="additionalInformation"></textarea>-->
<!--        </div>-->


<!--<hr>-->

<!--<h1>Adres:</h1>-->


<!--    <div class="form-group">-->
<!--      <label for="name">Nazwa typu adresu</label>-->
<!--      <input type="text" class="form-control" id="name" required [(ngModel)]="employee.name" name="name">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="street">Ulica</label>-->
<!--      <input type="text" class="form-control" id="street" required [(ngModel)]="employee.street" name="street">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="houseNumber">Nr domu</label>-->
<!--      <input type="text" class="form-control" id="houseNumber" required [(ngModel)]="employee.houseNumber" name="houseNumber">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="apartmentNumber">Nr mieszkania</label>-->
<!--      <input type="text" class="form-control" id="apartmentNumber" [(ngModel)]="employee.apartmentNumber" name="apartmentNumber">-->

<!--    </div>-->

<!--    <div id="address">-->
<!--    <div class="form-group">-->
<!--      <label for="zipCode">Kod pocztowy</label>-->
<!--      <input type="text" class="form-control" id="zipCode" required [(ngModel)]="employee.zipCode" name="zipCode" >-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="city">Miasto</label>-->
<!--      <textarea class="form-control" id="city" required [(ngModel)]="employee.city" name="city"></textarea>-->
<!--    </div>-->
<!--</div>-->
<!--    <button mat-button class="add new address">Dodaj kolejny adres</button>-->
<!--    <button mat-button class="delete">Usuń</button>-->



<!--<hr>-->

<!--<mat-form-field>-->
<!--  <mat-label>Sposób pozyskania</mat-label>-->
<!--  <mat-select [formControl]="wayControl" required>-->
<!--    <mat-option>&#45;&#45;</mat-option>-->
<!--    <mat-option *ngFor="let way of ways" [value]="way.value">-->
<!--      {{way.viewValue}}-->
<!--    </mat-option>-->
<!--  </mat-select>-->
<!--  <mat-error *ngIf="wayControl.hasError('required')">wybierz</mat-error>-->
<!--  <mat-hint>{{wayControl.value?.viewValue}}</mat-hint>-->
<!--</mat-form-field>-->
<!--<div id="submit">-->
<!--    <button mat-button type="submit" class="btn btn-success">Zapisz</button>-->
<!--</div>-->
<!--  </form>-->
<!--</div>-->






<!--<div [hidden]="submitted" style="width: 400px;">-->
<!--  <form (ngSubmit)="onSubmit()">-->
<!--    <div class="form-group">-->
<!--      <label for="firstName">Imię</label>-->
<!--      <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="surname">Nazwisko</label>-->
<!--      <input type="text" class="form-control" id="surname" required [(ngModel)]="employee.surname" name="surname">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="position">Pozycja</label>-->
<!--      <input type="text" class="form-control" id="position" required [(ngModel)]="employee.position" name="position">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="phoneNumber">Numer telefonu</label>-->
<!--      <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="employee.phoneNumber" name="phoneNumber">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="status">Status</label>-->
<!--      <input type="text" class="form-control" id="status" required [(ngModel)]="employee.status" name="status">-->
<!--    </div>-->

<!--    <button type="submit" class="btn btn-success">Submit</button>-->
<!--  </form>-->
<!--</div>-->

<!--<div [hidden]="!submitted">-->
<!--  <h4>You submitted successfully!</h4>-->
<!--  &lt;!&ndash; <button class="btn btn-success" (click)="newEmployee()">Add</button> &ndash;&gt;-->
<!--</div>-->

